<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="mainSelectBoardBestList">
			SELECT 
	           BOARD_NO
	         , BOARD_TITLE 
	         , VIEW_COUNT
	  FROM(  
	       SELECT 
			       BOARD_NO
			     , BOARD_TITLE 
			     , VIEW_COUNT
			 FROM BOARD
			WHERE STATUS ='Y'
	          AND TAG_NO IN(110,120)
			ORDER BY VIEW_COUNT DESC)
	WHERE ROWNUM BETWEEN 1 AND 5
	</entry>
	
	<entry key="mainSelectHoneyList">
			SELECT 
	           BOARD_NO
	         , BOARD_TITLE 
	         , VIEW_COUNT
	  FROM(  
	       SELECT 
			       BOARD_NO
			     , BOARD_TITLE 
			     , VIEW_COUNT
			 FROM BOARD
			WHERE STATUS ='Y'
	          AND TAG_NO=110
			ORDER BY VIEW_COUNT DESC)
	WHERE ROWNUM BETWEEN 1 AND 5
	</entry>
	
	
	<entry key="mainSelectNoticeList">
	SELECT 
	           BOARD_NO
	         , BOARD_TITLE 
	         , CREATE_DATE
	  FROM (  
	       SELECT 
			       BOARD_NO
			     , BOARD_TITLE 
			     , TO_CHAR(CREATE_DATE,'YYYY-MM-DD') AS "CREATE_DATE"
			 FROM BOARD
			WHERE STATUS ='Y'
	          AND TAG_NO=500
			ORDER BY BOARD_NO DESC)
	WHERE ROWNUM BETWEEN 1 AND 5
	</entry>
	
	
	<entry key="selectFreeBoardListCount">
	SELECT COUNT(*) AS "COUNT"
	FROM BOARD
	WHERE TAG_NO = 120
	  AND STATUS = 'Y'
	</entry>
	
	<entry key="selectFreeBoardList">
	SELECT *
	FROM(SELECT ROWNUM AS "RNUM", A.*
	FROM (SELECT 
	               BOARD_NO
	             , TAG_NAME
	             , BOARD_TITLE
	             , BOARD_CONTENT
	             , USER_ID
	             , VIEW_COUNT
	             , REPLY_COUNT
	             , LIKES_COUNT
	             , TO_CHAR(CREATE_DATE,'YYYY-MM-DD') AS "CREATE_DATE"
	             , BOARD.STATUS AS "STATUS"
	        FROM BOARD
	        JOIN USER1 ON (BOARD_WRITER = USER_NO)
	        JOIN TAG USING(TAG_NO)
	        WHERE TAG_NO = 120
	          AND BOARD.STATUS = 'Y'
	        ORDER 
	           BY BOARD_NO DESC) A)
	 WHERE RNUM BETWEEN ? AND ?
	
	</entry>
	
	
	<entry key="selectBestFreeBoardList">
	SELECT *
	FROM(SELECT ROWNUM AS "RNUM", A.*
	FROM (SELECT 
	               BOARD_NO
	             , TAG_NAME
	             , BOARD_TITLE
	             , BOARD_CONTENT
	             , USER_ID
	             , VIEW_COUNT
	             , REPLY_COUNT
	             , LIKES_COUNT
	             , TO_CHAR(CREATE_DATE,'YYYY-MM-DD') AS "CREATE_DATE"
	             , BOARD.STATUS AS "STATUS"
	        FROM BOARD
	        JOIN USER1 ON (BOARD_WRITER = USER_NO)
	        JOIN TAG USING(TAG_NO)
	        WHERE TAG_NO = 120
	          AND BOARD.STATUS = 'Y'
	        ORDER 
	           BY VIEW_COUNT DESC) A)
	 WHERE RNUM BETWEEN ? AND ?
	
	</entry>
	
	
	
	<entry key="selectHoneyBoardList">
	SELECT *
	FROM(SELECT ROWNUM AS "RNUM", A.*
	FROM (SELECT 
	               BOARD_NO
	             , TAG_NAME
	             , BOARD_TITLE
	             , BOARD_CONTENT
	             , USER_ID
	             , VIEW_COUNT
	             , REPLY_COUNT
	             , LIKES_COUNT
	             , TO_CHAR(CREATE_DATE,'YYYY-MM-DD') AS "CREATE_DATE"
	             , BOARD.STATUS AS "STATUS"
	        FROM BOARD
	        JOIN USER1 ON (BOARD_WRITER = USER_NO)
	        JOIN TAG USING(TAG_NO)
	        WHERE TAG_NO = 110
	          AND BOARD.STATUS = 'Y'
	        ORDER 
	           BY BOARD_NO DESC) A)
	 WHERE RNUM BETWEEN ? AND ?
	
	</entry>
	
	
	<entry key="selectBestHoneyBoardList">
	SELECT *
	FROM(SELECT ROWNUM AS "RNUM", A.*
	FROM (SELECT 
	               BOARD_NO
	             , TAG_NAME
	             , BOARD_TITLE
	             , BOARD_CONTENT
	             , USER_ID
	             , VIEW_COUNT
	             , REPLY_COUNT
	             , LIKES_COUNT
	             , TO_CHAR(CREATE_DATE,'YYYY-MM-DD') AS "CREATE_DATE"
	             , BOARD.STATUS AS "STATUS"
	        FROM BOARD
	        JOIN USER1 ON (BOARD_WRITER = USER_NO)
	        JOIN TAG USING(TAG_NO)
	        WHERE TAG_NO = 110
	          AND BOARD.STATUS = 'Y'
	        ORDER 
	           BY VIEW_COUNT DESC) A)
	 WHERE RNUM BETWEEN ? AND ?
	
	</entry>
	
	<!-- 내 게시글을 갯수 카운트 쿼리문 -->
	<entry key="selectMyBoardListCount">
	
		SELECT COUNT(*) AS "COUNT"
		  FROM BOARD  
		 WHERE BOARD_WRITER = ?
		   AND STATUS = 'Y'
           AND TAG_NO LIKE '1%'
	</entry>
	
	<!-- 마이페이지 내 게시글 불러올 쿼리문 -->
	<entry key="selectMyBoardList">
		SELECT *
		  FROM ( SELECT ROWNUM RNUM, MYBOARD.*
		          FROM (SELECT BOARD_NO
		                     , TAG_NAME
		                     , BOARD_TITLE
		                     , USER_ID
		                     , VIEW_COUNT
		                     , REPLY_COUNT
		                     , TO_CHAR(CREATE_DATE, 'YYYY-MM-DD') AS "CREATE_DATE"
		                  FROM BOARD
		                  JOIN USER1 ON (BOARD_WRITER = USER_NO)
		                  JOIN TAG USING(TAG_NO)
		                 WHERE TAG_NO LIKE '1__'
		                   AND BOARD.STATUS = 'Y'
		                   AND USER_NO = ?
		                 ORDER
		                    BY BOARD_NO DESC
		                ) MYBOARD
		      )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<!-- 내 댓글 갯수 카운트 쿼리문 -->
	<entry key="selectMyReplyCount">
		SELECT COUNT(*) AS "COUNT"
		  FROM REPLY  
		 WHERE REPLY_WRITER = ?
		   AND STATUS = 'Y'
	</entry>
	
	<!-- 마이페이지 내 댓글 불러올 쿼리문 -->
	<entry key="selectMyReplyList">
		SELECT *
		  FROM (SELECT ROWNUM RNUM, MYREPLY.*
		          FROM (SELECT REPLY_NO
		                     , BOARD_NO
		                     , BOARD_WRITER
		                     , REPLY_WRITER
		                     , USER_NICK
                     		 , USER_ID
		                     , REPLY_CONTENT
		                     , REPLY.LIKES_COUNT
		                     , TAG_NAME
		                     , TO_CHAR(REPLY.CREATE_DATE, 'YYYY-MM-DD') AS "CREATE_DATE"
		                  FROM REPLY
		                  JOIN BOARD USING(BOARD_NO)
		                  JOIN TAG USING(TAG_NO)
		                  JOIN USER1 ON(BOARD_WRITER = USER_NO)
		                 WHERE REPLY.STATUS = 'Y'
		                   AND REPLY_WRITER = ?
		                 ORDER
		                    BY REPLY_NO DESC
		              ) MYREPLY   
		        )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	

	
	<!-- 커뮤니티 게시판 태그 리스트  -->
	<entry key="selectBoardTagList">
		SELECT 
	        TAG_NO
	      , TAG_NAME
		FROM TAG
		WHERE TAG_NO BETWEEN 101 AND 190
	</entry>
	
	
		<!--  board 테이블 insert  -->
	<entry key="insertBoard">
		INSERT 
		  INTO BOARD
		     ( 
		       BOARD_NO
		     , TAG_NO
		     , BOARD_TITLE
		     , BOARD_CONTENT
		     , BOARD_WRITER
		     )
		VALUES
		     ( 
		       SEQ_BNO.NEXTVAL
		     , ?
		     , ?
		     , ?
		     , ?
		     )
					
	</entry>
	
	
			<!--  board_img 테이블 insert  -->
	<entry key="insertAttachment">
	INSERT 
	  INTO BOARD_IMG
	     ( 
	       B_IMG_NO
	     , BOARD_NO
	     , ORIGIN_NAME
	     , CHANGE_NAME
	     , FILEPATH
	     , FILE_LEVEL
	     )
	VALUES
	     ( 
	       SEQ_BINO.NEXTVAL
	     , SEQ_BNO.CURRVAL
	     , ?
	     , ?
	     , ?
	     , ?
	     )
						
	</entry>
	
	
	
		<!--  BOARD_USED 테이블 insert  -->
	<entry key="insertUsed">
	INSERT 
	  INTO BOARD_USED
	     ( 
	       USED_NO
	     , BOARD_NO
	     , MODEL_NO
	     , PRICE
	     , MODEL_STATUS
	     , TRADING_AREA
	     , TRADING_METHOD
	     )
	VALUES
	     ( 
	       SEQ_USEDNO.NEXTVAL
	     , SEQ_BNO.CURRVAL
	     , ?
	     , ?
	     , ?
	     , ?
	     , ?
	     )
						
	</entry>
	
	
	
	<entry key="selectFoodBoardListCount">
	SELECT COUNT(*) AS "COUNT"
	FROM BOARD
	WHERE TAG_NO = 130
	  AND STATUS = 'Y'
	</entry>
	
	
	<entry key="selectHoneyBoardListCount">
	SELECT COUNT(*) AS "COUNT"
	FROM BOARD
	WHERE TAG_NO = 110
	  AND STATUS = 'Y'
	</entry>



	<entry key="selectFoodBoardList">
	SELECT *
	FROM(SELECT ROWNUM AS "RNUM", A.*
	FROM (SELECT 
			       BOARD_NO
			     , BOARD_TITLE
			     , VIEW_COUNT
			     , REPLY_COUNT
			     , LIKES_COUNT
			     , TO_CHAR(CREATE_DATE, 'YYYY-MM-DD') AS "CREATE_DATE"
			     , FILEPATH ||  CHANGE_NAME AS "TITLE_IMG"
			FROM BOARD
			JOIN BOARD_IMG USING(BOARD_NO) 
			WHERE TAG_NO = 130
			  AND BOARD.STATUS = 'Y'
			ORDER 
			   BY BOARD_NO DESC) A)
	 WHERE RNUM BETWEEN ? AND ?
	
	</entry>




	<entry key="selectBestFoodBoardList">
	SELECT *
	FROM(SELECT ROWNUM AS "RNUM", A.*
	FROM (SELECT 
			       BOARD_NO
			     , BOARD_TITLE
			     , VIEW_COUNT
			     , REPLY_COUNT
			     , LIKES_COUNT
			     , TO_CHAR(CREATE_DATE, 'YYYY-MM-DD') AS "CREATE_DATE"
			     , FILEPATH ||  CHANGE_NAME AS "TITLE_IMG"
			FROM BOARD
			JOIN BOARD_IMG USING(BOARD_NO) 
			WHERE TAG_NO = 130
			  AND BOARD.STATUS = 'Y'
	        ORDER 
	           BY VIEW_COUNT DESC) A)
	 WHERE RNUM BETWEEN ? AND ?
	
	</entry>



<entry key="selectUsedBoardListCount">
	SELECT COUNT(*) AS "COUNT"
	FROM BOARD
	WHERE TAG_NO = 140
	  AND STATUS = 'Y'
	</entry>



	<entry key="selectUsedBoardList">
	SELECT *
	FROM(SELECT ROWNUM AS "RNUM", A.*
	FROM (SELECT 
			       BOARD_NO
			     , BOARD_TITLE
			     , MODEL_NO
			     , PRICE
			     , MODEL_STATUS
                 , TRADING_AREA
                 , TRADING_METHOD
			     , TO_CHAR(CREATE_DATE, 'YYYY-MM-DD') AS "CREATE_DATE"
			     , FILEPATH ||  CHANGE_NAME AS "TITLE_IMG"
			FROM BOARD
			JOIN BOARD_IMG USING(BOARD_NO) 
            JOIN BOARD_USED USING(BOARD_NO)
			WHERE TAG_NO = 140
			  AND BOARD.STATUS = 'Y'
			ORDER 
			   BY BOARD_NO DESC) A)
	 WHERE RNUM BETWEEN ? AND ?
	
	</entry>




	<entry key="selectBestUsedBoardList">
	SELECT *
	FROM(SELECT ROWNUM AS "RNUM", A.*
	FROM (SELECT 
			       BOARD_NO
			     , BOARD_TITLE
			     , MODEL_NO
			     , PRICE
			     , MODEL_STATUS
                 , TRADING_AREA
                 , TRADING_METHOD
			     , TO_CHAR(CREATE_DATE, 'YYYY-MM-DD') AS "CREATE_DATE"
			     , FILEPATH ||  CHANGE_NAME AS "TITLE_IMG"
			FROM BOARD
			JOIN BOARD_IMG USING(BOARD_NO) 
            JOIN BOARD_USED USING(BOARD_NO)
			WHERE TAG_NO = 140
			  AND BOARD.STATUS = 'Y'
	        ORDER 
	           BY VIEW_COUNT DESC) A)
	 WHERE RNUM BETWEEN ? AND ?
	
	</entry>





	<!-- 좋아요 글 갯수 카운트 쿼리문 -->
	<entry key="selectMyLikesCount">
		SELECT COUNT(*) AS "COUNT"
		  FROM LIKES_BOARD
		 WHERE USER_NO = ?
	</entry>
	
	<!-- 마이페이지 좋아요 한 글 불러올 쿼리문 -->
	<entry key="selectMyLikesList">
		SELECT *
		  FROM ( SELECT ROWNUM RNUM, LIKES.*
		           FROM (SELECT TAG_NAME
		                      , BOARD_NO
		                      , BOARD_TITLE
		                      , BOARD_WRITER
		                      , USER_NICK
		                      , USER_ID
		                      , VIEW_COUNT
		                      , TO_CHAR(CREATE_DATE, 'YYYY-MM-DD') AS "CREATE_DATE"
		                   FROM BOARD
		                   JOIN USER1 ON (BOARD_WRITER = USER_NO)
		                   JOIN TAG USING(TAG_NO)
		                   JOIN LIKES_BOARD USING (BOARD_NO)
		                  WHERE LIKES_BOARD.USER_NO = ?
		                    AND BOARD.STATUS = 'Y'
		                  ORDER
		                     BY BOARD_NO DESC
		               ) LIKES
		     )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>



	<!-- BOARD SELECT -->
	<entry key="selectBoardDeteil">
SELECT 
       BOARD_NO
     , TAG_NO
     , BOARD_TITLE
     , BOARD_CONTENT
     , USER_ID
     , USER_NICK
     , VIEW_COUNT
     , REPLY_COUNT
     , LIKES_COUNT
     , TO_CHAR(CREATE_DATE, 'YYYY"년" MM"월" DD"일"') AS "CREATE_DATE"
FROM BOARD
JOIN USER1 ON(BOARD_WRITER = USER_NO)
WHERE BOARD_NO =?
  AND BOARD.STATUS = 'Y'
	</entry>

	<!-- BOARD 게시글 조회 카운트 업 -->
	<entry key="boardCountUp">
UPDATE BOARD
   SET VIEW_COUNT = VIEW_COUNT+1
 WHERE BOARD_NO =?
	</entry>
	
	<!--좋아요 테이블 조회 -->
	<entry key="selectLikesBoard">
SELECT COUNT(*) AS "COUNT"
FROM LIKES_BOARD
WHERE USER_NO =?
  AND BOARD_NO =?


	</entry>	
	
	
	
		<!--좋아요 테이블 조회 -->
	<entry key="insertLikesBoard">
INSERT
  INTO LIKES_BOARD
VALUES 
	 ( 
	   ?
	 , ?
	  )
	</entry>
	
	<!-- 좋아요 테이블 delete -->
	<entry key="deleteLikesBoard">
DELETE LIKES_BOARD
 WHERE USER_NO=?
   AND BOARD_NO=?
	</entry>
	
	
	
	<!-- 댓글 리스트 조회 - 조건 게시글번호-->
	<entry key="selectBoardReplyList">
SELECT 
       REPLY_NO
     , BOARD_NO
     , USER_NICK
     , USER_ID
     , REPLY_CONTENT
     , LIKES_COUNT
     , RE_REPLY_COUNT
     , TO_CHAR(REPLY.CREATE_DATE, 'YYYY"년" MM"월" DD"일"') AS "CREATE_DATE"
  FROM REPLY 
  JOIN USER1 ON(REPLY_WRITER = USER_NO)
 WHERE REPLY.STATUS = 'Y'
   AND BOARD_NO = ?
 ORDER BY REPLY_NO DESC

	</entry>
	
	
	
	
		
	<!-- 댓글 insert-->
	<entry key="insertBoardReply">
INSERT 
  INTO REPLY
     (
       REPLY_NO
     , BOARD_NO
     , REPLY_WRITER
     , REPLY_CONTENT
     )
VALUES
     (
       SEQ_REPLYNO.NEXTVAL
     , ?
     , ?
     , ?
     )

	</entry>

</properties>