<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectPropertyListCount">
		SELECT COUNT(*) count
		  FROM PROPERTY
		 WHERE STATUS = 'Y'
	</entry>
	<entry key="selectPropertyList">
		SELECT *
		  FROM (
		        SELECT ROWNUM RNUM, A.*
		         FROM (
		                SELECT 
		                	   PP_NO
		                	 , PP_NAME
		                	 , TAG_NO
		                	 , B_NAME
		                	 , PP_PRICE
		                	 , PP_LOCATION
		                	 , PP_OPTION
		                	 , PP_INFO
		                	 , TO_CHAR(PP_DATE, 'RRRR"년"MM"월"DD"일"') "PP_DATE"
		                	 , PD_NO
		                	 , COST
		                	 , FLOOR
		                	 , PYEONG
		                	 , ROOMS
                             , TO_CHAR(MOVE_DATE, 'RRRR"년"MM"월"DD"일"') "MOVE_DATE"
		                	 , PP_IMG_NO
                             , ORIGIN_NAME
                             , CHANGE_NAME
                             , FILEPATH
		                  FROM PROPERTY P
		                  JOIN PROPERTY_DETAIL PD USING(PP_NO)
		                  JOIN PP_IMG I USING(PP_NO)
		                  JOIN BROKERAGE B USING(B_NO)
		                 WHERE P.STATUS = 'Y'
		                 ORDER
		                    BY PP_NO DESC
		               ) A
		        )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
		
		
<entry key="selelctMainPropertyList">
SELECT
       P.PP_NO
     , PP_NAME
     , TAG_NAME
     , PP_PRICE
     , PP_LOCATION
     , PP_COUNT
     , DECODE(PP_OPTION,NULL,'없음',PP_OPTION) AS "PP_OPTION"
     , DECODE(PP_INFO,NULL,'없음',PP_INFO) AS "PP_INFO"
     , FILEPATH || CHANGE_NAME AS "FILEPATH"
FROM PROPERTY P
JOIN TAG USING (TAG_NO)
JOIN PP_IMG I ON (P.PP_NO = I.PP_NO)
WHERE P.STATUS = 'Y'
ORDER BY PP_COUNT DESC
</entry>
	
	
	
	
	
<entry key="mainSelectBrokeragePo">
SELECT
       B.B_NO
     , B_NAME
     , B_TYPE
     , DECODE(B_BR_BEST,NULL,' ',B_BR_BEST) AS "B_BR_BEST"
     , FILEPATH || CHANGE_NAME AS "FILEPATH"
FROM BROKERAGE B
JOIN B_IMG I ON (B.B_NO=I.B_NO)
WHERE B.STATUS ='Y'
</entry>
		
	
	
	
	
	
	
	
</properties>