div{
    border: 1px solid black;
    box-sizing: border-box;
}

#wrap{
    margin: auto;
    min-width: 450px;
}


/* 로그인 했을 때 열리는 창 */
#wrap>#loginbar{
    position: fixed;
    right: 80px;
    top: 200px;
    width: 200px;
    height: 500px;
    /* transform: translate(1700px,200px); */
    background-color: antiquewhite;
}


/* 헤더 영역 */
/* 상단부 */
#wrap>#header{
    display: flex;
    justify-content: space-between;
    margin: 10px 10px;
}
#headermid{
    font-size: 40px;
    font-weight: 900;
}


/* 헤더 오른쪽 부분 */
#wrap>#header>#header-right{
    display: flex;
    margin-right: 10px;
}




/* 상단오른쪽 */
#wrap>#header>#headerRight{
    display: flex;
}

#wrap>#header>#headerRight>#search{
    position: relative;
}


#wrap>#header>#headerRight>#search>#searchbar{
    position: absolute;
    width: 250px;
    height: 50px;
    background-color: red;
    right: 1px;
    display: none;

}

/* 네비영역 */
#wrap>#navi{
    display: flex;
    justify-content: space-around;
}



/* 상세 네비 영역 */
#wrap>#navimenu{
    display: none;
    justify-content: center;
    transform: scale(1);
}
#wrap>#navimenu>#navimenuArea>.navibar{
    display: flex;
    column-gap: 100px;
    justify-content: center;
}




/* 바디부분 */
#wrap>#body{
    
    margin-top: 10px;
}




/* 컨텐츠 */
#wrap>#body>#content{
    display: flex;
    flex-direction: column;
    row-gap: 10px; 
}


/* 슬라이드 영역 */
#wrap>#body>#content>#slideArea{
    /* display: flex;
    justify-content: center; */
    background-color: orange;

}
#wrap>#body>#content>#slideArea>#slide{
    width: 99.8vw;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#wrap>#body>#content>#slideArea>#slide>#slideCast{
    width: 1000px;
    height: 500px;
    /* position: relative; */
    /* overflow: hidden; */
    /* background-color: blanchedalmond; */
}
#wrap>#body>#content>#slideArea>#slide>#slideCast>#page{
    width: 3000px;
    height: 500px;
    display: flex;
}

#wrap>#body>#content>#slideArea>#slide>#slideCast>#page>.slidepage{
    width: 1000px;
    height: 500px;
    overflow: hidden;
    position: relative;
}
#wrap>#body>#content>#slideArea>#slide>#slideCast>#page>#page_1{
    background-color: red;
}
#wrap>#body>#content>#slideArea>#slide>#slideCast>#page>#page_2{
    background-color: blueviolet;
}
#wrap>#body>#content>#slideArea>#slide>#slideCast>#page>#page_3{
    background-color: rgb(10, 14, 223);
}





/* 박스 1 영역 */
#wrap>#body>#content>#box1{
    
    display: flex;
    justify-content: center;
    column-gap: 20px;
}
#wrap>#body>#content>#box1>div{
    width: 400px;
    height: 400px;
    overflow: hidden;
}
#wrap>#body>#content>#box1>div>img{
    
   
}





/* 로그인바 사라지는 시점 */
@media(max-width:1570px){
    #loginbar{
        display: none;
    }
    
    
}


@media(max-width:1400px){
    #box1{
        flex-wrap: wrap;
    }
    
    
}


/* 노트북에서 테블릿로 넘어가는 시점 */
@media (max-width:1025px){
    #slideArea{
        display: none;
    }
}
/* 모바일 */
@media (max-width:767px){
    #navi_1{
        flex-wrap: wrap;
    }
}



