.board_navi{
    width: 100%;
    margin-top: 370px;

}

.board_navi .navi_content{
    width: 50%;
    height: 50px;
    border: 2px solid #FFA500;
    margin: auto;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.board_navi .navi_content>li{
    font-weight: 900;
    font-size: 20px;
    color: #333;
    cursor: pointer;
}





.Board_list{
    width: 100%;
}



.Board_list .list_area{
    border: 2px solid #FFA500;
    width: 800px;
    margin: auto;
    margin-top: 50px;
    border-radius: 5px;
    position: relative;
}

.Board_list .list_area .list_choose{
    position: absolute;
    top: -30px;
    right: 20px;
}
.Board_list .list_area .list_choose>span{
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
    color: #858585;
}

.Board_list .list_area .list_choose>span:hover{
 
    color: #333;
}

.Board_list .list_area .list_choose>.lately_board_choose{
 
    color: #333;
}

.Board_list .list_area .list_choose>span:last-child::before{
    content: "";
    border: 1px solid #333;
    margin-left: 5px;
    margin-right: 10px;
    opacity: .5;
}    



.Board_list .board_table{
    width: 95%;
    margin: 5% auto;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0 10px;
    table-layout: fixed;
}

.Board_list .board_table>tbody>tr{
    
}
.Board_list .board_table>tbody>tr>td:hover{
    background-color: #ffb52b;
    cursor: pointer;
}




.Board_list .board_table.best_board{
    
    
    display: none;
}




.Board_list .board_table>tbody>tr>td{
    table-layout: fixed;
    border: 1px solid #FFA500;
    position: relative;
    border-radius: 5px;
    display: flex;
    height: 65px;
}


.Board_list .board_table>tbody>tr>td .img{
   max-width: 20%;
   width: 20%;
   height: 100%;
 }
 .Board_list .board_table>tbody>tr>td .img>img{
    height: 100%;
    width: 100%;
  }



.Board_list .board_table>tbody>tr>td .content_title{
   margin-top: 10px;
   margin-left: 15px;
    font-weight: 800;
    font-size: 18px;
    height: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.Board_list .board_table>tbody>tr>td .content_icons{
   display: flex;
   margin-top: 5px;
   margin-left: 10px;
   margin-bottom: 5px;
   
}

.Board_list .board_table>tbody>tr>td .content_icons .icon{
    margin-right: 25px;
    
 }

 .Board_list .board_table>tbody>tr>td .content_icons .date{
    position: absolute;
    right: 20px;
    bottom: 10px;
    font-size: 16px;
    font-weight: 600;
 }

.Board_list .board_table>tbody>tr>td .content_icons span{
    font-size: 15px;
    margin-bottom: 5px;
 }
.Board_list .board_table>tbody>tr>td .content_icons .m_icon{
    height: 20px;
    margin-top: 3px;
    font-size: 15px;
    font-weight: 600;
    line-height: 15px;
}

.Board_list .board_table>tbody>tr>td .content_icons .icon{
    height: 20px;
    margin-top: 3px;
    font-size: 20px;
    font-weight: 600;
    vertical-align: top;
}

.Board_list .board_table>tbody>tr>td .content_icons img{
    width: 12px;
    height: 12px;
    
}
.Board_list .board_table>tbody>tr>td .content_icons .used_span{
    margin: 0;

}

.Board_list .board_table>tbody>tr>td .content_icons .used_span::after{
    content: "";
    display: inline-block;
    border: 1px solid #333;
    height: 10px;
    opacity: .7;
    margin-left: 8px;
}

.Board_list .board_table>tbody>tr>td .content_icons .used_span:last-child:after{
    content: "";
    display: none;
   
}





















.Board_list .btn_area{
    display: flex;
    column-gap: 10px;
    background-color: alicebsue;
    margin: auto;
    width: 750px;
    justify-content: end;
    margin-top: 20px;
    
}

.Board_list .btn_area>div{
    border: 1px solid ;
    min-width: 50px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ffbd42;
    font-size: 15px;
    font-weight: 600;
    transition: .5s;
}
.Board_list .btn_area>div:hover{
    background-color: #ff9900;
}
.Board_list .btn_area>.board_search button{
   background-color: transparent;
   border: none;
   display: none;
}

.Board_list .btn_area>.board_search #search_input{
    margin-left: 5px;
    transform: translateY(-8px);
    border-radius: 5px;
    border: none;
    height: 20px;
    display: none;
}

.Board_list .page_area{
    display: flex;
    justify-content: center;
    column-gap: 10px;
    margin-top: 20px;
}

.Board_list .page_area button{
    border: 1px solid #FFA500;
    background-color: aliceblue;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    transition: .3s;
}
.Board_list .page_area button:hover{
    font-size: 105%;
  
}



@media(max-width:800px){
    .board_navi .navi_content{
        width: 400px;
      
    }

    .Board_list .list_area{
        width: 90%;
      
    }

    .Board_list .btn_area{
        width: 90%;
       
        
    }
}


@media(max-width:600px){
    .Board_list .board_table>tbody>tr>td .img{
        display: none;
      }
}