.sucess_login_content{
    width: 100%;
    margin-top: 350px;
    margin-top: 370px;

}

.sucess_login_content .sucess_login_area{
    width: 700px;
    height: 400px;
    margin: auto;
    border: 2px solid #FFA500;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sucess_login_content .sucess_login_area .sucess_login_text{
    margin-top: 100px;
    
}

.sucess_login_content .sucess_login_area .sucess_login_text>p{
    font-size: 20px;
    font-weight: 600;
    
}

.sucess_login_content .sucess_login_area>button{
    margin-top: 50px;
    width: 300px;
    height: 50px;
    background-color: #FFA500;
    border: #FFA500;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}
.sucess_login_content .sucess_login_area>button:hover{
   transform: scale(1.05);
}