<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- css 초기화 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css" />

    <!-- 메타리얼 아이ㅇ콘 -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <!-- 제이쿼리 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>


    <link rel="stylesheet" href="./resources/css/chatpopup.css">
</head>

<body>

    <section class="chatpop">

        <div class="chatpop_header">
            님과의 채팅
        </div>

        <div class="line"></div>

        <div class="chatpop_body">

            <div class="chat_view">

                <div class="chat_message ">
                    <div class="send_user">
                        보낸이
                    </div>
                    <div class="message">
                        sasdfwegasdgfawergasdfawefgasdgeargasdgaewrga asdf weaf asdf awef asd asf ewf asdf asfe as es as
                        asdf ase asd
                    </div>
                </div>
                <div class="chat_message right ">
                    <div class="send_user">
                        보낸이
                    </div>
                    <div class="message">
                        sasdfwegasdgfawergasdfawefgasdgeargasdgaewrga asdf weaf asdf awef asd asf ewf asdf asfe as es as
                        asdf ase asd
                    </div>
                </div>

            </div>


            <div class="line"></div>


            <div class="chat_input">
                <textarea name="" id="chat_textarea"></textarea>

                <button class="textarea_btn material-icons">
                    send
                </button>
            </div>

        </div>

    </section>


</body>

</html>